# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lambda deployment packages
*.zip

# macOS system files
.DS_Store

# AWS credentials and config
.aws/
**/aws.credentials
**/aws.config

# App configuration
config.json
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Dependências Python
lambda/boto3/
lambda/botocore/
lambda/dateutil/
lambda/jmespath/
lambda/s3transfer/
lambda/urllib3/
lambda/six.py
lambda/*.dist-info/

# Arquivos temporários
temp_investments/
*.zip 